* {
    margin: 0;
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
    color: #222;
    background-color: black;
}

header {
    background-color: #FF0000;
    color: white;
}

.navbarMenu {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

label {
    margin-left: 40px;
}

.leftMenu {
    display: flex;
    align-items: center;
}

.rightMenu {
    display: flex;
    align-items: center;
}

.site-title {
    margin-right: 40px;
}

.newGoods h3 {
    color: white;
}

.rightMenu a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
}

.mainContent {
    margin-left: 8%;
    margin-right: 8%;
}

.mainContent a {
    text-decoration: none;
    color: white;
}

.firstRow {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.secondRow {
    display: flex;
    justify-content: space-evenly;
}

.goodsWindow img {
    position: relative;
    margin-top: 20px;
    margin-left: 25%;
    width: 250px;
}

.goodsWindow h3 {
    margin-top: 10%;
    color: white;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container {
    width: 640px;
    height: 360px;
    border: 1px solid white;
    border-radius: 25px;
    margin-bottom: 10px;
}

.mediaMenuLeft .container img {
    /*margin-top: 40px;*/
    width: 640px;
    height: 360px;
    border-radius: 25px;
}

.iphone13 h3 {
    margin-bottom: 13px;
    color: white;
}

/* ANIMATION */
/* Slideshow */
/* !!!!!!!!!!!!!!!!!!!!*/


* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlidesFade {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.mainMenu {
    height: 100vh;
}
/* filter*/
.filter-header{
    background: #222222;
    padding: 0.4rem;
    text-align: center;
}
.filter-header h1{
    font-size: 2.5rem;
    line-height: 2;
    color: #ff7d7f;
    padding-left: 40px;
}
.srch{
    position: relative;
    display: inline-flex;
    font-size: 30px;
    padding:5px;
}
form input{
    width: 30rem;
    padding: 0.4rem;
    border: none;
    outline: none;
    font-size: 1.3rem;
    border-radius: 5px;
    border-bottom: 2px solid lightsalmon;
    margin-bottom: 2rem;
    font-weight: lighter;
}
.filter-box{
    padding-left: 40px;

}
.butn{
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
    background: lightsalmon;
    padding-left: 16px;
    border-radius: 3px;
    margin-right: 1.1rem;
    cursor: pointer;
}
.butn.actived{
    background-color: #ff7d7f;

}
.butn:hover{
    background-color: #ff7d7f;
}




/* product catalog section*/
.product-selectoin-category {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    background-color: black;
    color: aliceblue;
    height: 150vh;
}

.catalogSection {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    background-color: black;
    color: aliceblue;
    height: 70vh;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.show {
    display: block;
}
.product-image {
    position: relative;
    width: 100%;
    height: 350px;

}

.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7f;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 80%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #CDCCCC;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: capitalize;
}

.product-short-des {
    width: 100%;
    height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;

}

/* pre nxt button*/
.pre-btn, .nxt-btn {
    border: none;
    width: 8vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, black 100%);
    cursor: pointer;
    z-index: 5;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img, .nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img {
    opacity: 1;
}

/* how to buy section product details*/
.howToBuySection {
    background-color: white;
    height: 150vh;
}

.product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
}

.image-slider {
    width: 500px;
    height: 500px;
    position: relative;
    background-image: url("../assets/images/iphone13promax1.png");
    background-size: cover;
    border-radius: 20px;
}

.product-img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: lightgrey;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}

.product-img img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.product-img img.active {
    opacity: 0.5;
}

.details {
    width: 50%;
}

.details .product-brand {
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des {
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price {
    font-weight: 700;
    font-size: 30px;
}

.product-actual-price {
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount {
    color: #ff7d7f;
    font-size: 20px;
    text-transform: capitalize;
}

.product-sub-heading {

    text-transform: uppercase;
}

.size-radio-btn {
    display: inline-block;
    width: 80px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #383838;
    border-radius: 10%;
    margin: 20px 0;
    line-height: 50px;

    text-transform: capitalize;
    color: #383838;
    cursor: pointer;
}

.size-radio-btn.check {
    background: #383838;
    color: white;
}

.btn {
    width: 48%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

.cart-btn {
    margin-right: 2%;
    background: #383838;
    color: #fff;
    transition: all 0.5s ease;
}

.cart-btn:hover {
    background: #fff;
    color: #222222;
}

.wishlist-btn {
    transition: all 0.5s ease;
}

.wishlist-btn:hover {
    background: gray;
    color: #fff;
}

.details-des {
    padding: 0 10vw;
    text-transform: capitalize;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
}

.des {
    color: #383838;
    line-height: 25px;
}

.aboutSection {
    background-color: black;
    height: 100vh;
}

.contactsSection {
    background-color: black;
    height: 100vh;
}

.map iframe {
    width: 600px;
    height: 450px;
    border: 0;
}

.youtube iframe {
    width: 640px;
    height: 360px;
    margin-top: 30px;
    border-radius: 25px;
    border: 1px solid white;
}

.firstTwo {
    display: flex;
    margin-left: 10%;
}

.secondTwo {
    display: flex;
    margin-left: 10%;
}

.lng-contact {
    color: white;
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 20px;
}


@media (min-width: 1700px) {
    .btn {
        display: grid;

    }
}

@media (max-width: 1028px) {
    .btn {
        display: grid;
        font-size: 17px;
    }
}

.contactMain {
    margin-left: 5%;
    margin-top: 3.5%;
    display: flex;
    justify-content: space-around;
}

.contactMainLinks a {
    display: block;
    margin-top: 15px;
    font-size: 19px;
    color: white;
    text-decoration: none;
}

.lng-aboutSectionAbout {
    color: white;
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 20px;
}

.lng-aboutSectionP1,  .lng-aboutSectionP2 {
    color: white;
    font-size: large;
    margin-left: 10%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.lng-aboutSectionText, .lng-aboutSectionText2 {
    color: white;
}



